ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: 3%;
  }
  
  li {
    float: left;
    color: rgb(101, 98, 98);

  }
  
  li{
    display: block;
    padding: 8px;
    background-color: #070721;
  }
  li:hover {
    background-color: #0b779e;
    color: white;

  }